body {
    background-color:#F0F0F0;
    padding: 2em;
    font-family: 'Raleway','Source Sans Pro', 'Arial';
}
.container {
    width: 50%;
    margin: 20 auto;
    float: left;
}
label {
    display:block;
    margin-bottom:10px;
}
input {
    padding:10px;
    width: 50%;
    margin-bottom: 1em;
}
button {
    margin: 2em 0;
    padding: 1em 4em;
    display:block;
}

#image {

}
h2 {
    font-size: 12px;
}

#instructor {
    padding:1em;
    background-color:#fff;
    margin: 1em 0;
}



#loader {
    width: 100px;
    display:none;
}

#fooker {
    margin: 20 auto;
    float: right;
    list-style-type: none;
}

#directory {
float:right;
padding-right:20px;
}

li {
  padding: 30px;
  background-color: white;
}
#val {
  padding: 10px;
}
